<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.snake.market.mapper.CommentsMapper">

    <insert id="addComments">
        INSERT INTO comments (goodsId, createTime, content, userId)
        VALUES (#{goodsId}, #{createTime}, #{content}, #{userId});
    </insert>

    <select id="listCommentsByGoodsId" resultType="com.snake.market.model.Comments">
    select c.*,u.username from `comments` c
    left join `user` u on u.id = c.userId
    where c.goodsId = #{goodsId} order by c.createTime desc;
</select>


</mapper>