<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.snake.market.mapper.GoodsMapper">

    <select id="listGoods" resultType="com.snake.market.model.Goods">
        select * from goods
        <where>
            <if test="search != null">
                title like concat('%',#{search},'%') or message like concat('%',#{search},'%')
            </if>
        </where>
        group by createTime desc;
    </select>

    <select id="getGoodsById" resultType="com.snake.market.model.Goods">
        select * from goods where id = #{id};
    </select>

    <insert id="addGoods">
        INSERT INTO goods (userId, title, message, imageUrl, createTime, label)
        VALUES (#{userId}, #{title}, #{message}, #{imageUrl}, #{createTime}, #{label});
    </insert>

</mapper>