<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="${goods.title}"></title>
    <link href="css/style.css" rel='stylesheet' type='text/css'/>
    <link rel="shortcut icon" type="image/x-icon" href="images/fav-icon.png"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet'
          type='text/css'/>
    <script src="js/jquery.min.js"></script>
    <script src="js/single-page.js"></script>
    <script type="text/javascript">
        var $ = jQuery.noConflict();
        $(function () {
            $('#activator').click(function () {
                $('#box').animate({'top': '0px'}, 500);
            });
            $('#boxclose').click(function () {
                $('#box').animate({'top': '-700px'}, 500);
            });
        });
        $(document).ready(function () {
            $(".toggle_container").hide();
            $(".trigger").click(function () {
                $(this).toggleClass("active").next().slideToggle("slow");
                return false; //Prevent the browser jump to the link anchor
            });
        });
    </script>
</head>
<body>
<div class="header">
    <div class="wrap">
        <div class="logo">
            <a href="/"><img src="images/12.png" title="pinbal"/></a>
        </div>
        <div class="userinfo">
            <div class="user">
                <ul>
                    <li><a href="#"><img src="images/user-pic.png" title="user-name"/><span>皮皮蛇</span></a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="content">
    <div class="wrap">
        <div class="single-page">
            <div class="single-page-artical">
                <div class="artical-content">
                    <img th:src="${goods.url}" title="banner1"/>
                    <h3 th:text="${goods.title}"></h3>
                    <p th:text="${goods.content}"></p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="comment-section">
                <div class="grids_of_2">
                    <h2>评论</h2>
                    <div th:each="comment:${comments}" class="grid1_of_2">
                        <div class="grid_img">
                            <a href=""><img src="images/pic12.jpg" alt=""/></a>
                        </div>
                        <div class="grid_text">
                            <h4 class="style1 list">一位不愿透露姓名的观众</h4>
                            <h3 class="style" th:text="${comment.time}"></h3>
                            <p class="para top" th:text="${comment.content}"></p>
                            <a href="" class="btn1">回复</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="artical-commentbox">
                        <div class="table-form">
                            <form action="#" method="post" name="post_comment">
                                <div>
                                    <label>留言<span>*</span></label>
                                    <textarea id="input_comment"> </textarea>
                                </div>
                            </form>
                            <input type="submit" value="发表评论" onclick="addComments()"/>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <p>德玛西亚</p>
</div>
</body>
</html>

